@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme(colors.i9-white.DEFAULT);
    --foreground: theme(colors.i9-black.DEFAULT);

    --card: theme(colors.i9-white.100);
    --card-foreground: theme(colors.i9-black.DEFAULT);

    --popover: theme(colors.i9-white.DEFAULT);
    --popover-foreground: theme(colors.i9-black.DEFAULT);

    --primary: theme(colors.i9-orange.DEFAULT);
    --primary-foreground: theme(colors.i9-white.200);

    --secondary: theme(colors.i9-blue.DEFAULT);
    --secondary-foreground: theme(colors.i9-white.400);

    --muted: theme(colors.i9-orange.100);
    --muted-foreground: theme(colors.i9-black.300);

    --accent: theme(colors.i9-white.100);
    --accent-foreground: theme(colors.i9-black.DEFAULT);

    --destructive: theme(colors.red.700);
    --destructive-foreground: theme(colors.i9-white.100);

    --border: theme(colors.i9-white.DEFAULT);
    --input: theme(colors.i9-white.DEFAULT);
    --ring: theme(colors.i9-orange.DEFAULT);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }
  body {
    @apply bg-background font-secondary text-foreground;
  }
}

@layer utilities {
  .decorated-border::before {
    @apply -mt-[0.2em] mr-[0.2em] inline-block h-[1em] w-[0.25em] rounded-[1em] bg-i9-orange align-middle content-[""];
  }
}
